// Dégradés de fond pour les différentes conditions météorologiques
$clear-sky-gradient: linear-gradient(to right, #56ccf2, #2f80ed);
$partly-cloudy-gradient: linear-gradient(to right, #8894b3, #b8caeb);
$cloudy-gradient: linear-gradient(to right, #bdc3c7, #2c3e50);
$foggy-gradient: linear-gradient(to right, #868f96, #596164);
$drizzle-gradient: linear-gradient(to right, #bdc3c7, #2c3e50);
$rainy-gradient: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
$stormy-gradient: linear-gradient(to right, #3a3a3a, #2c3e50);
$snowy-gradient: linear-gradient(to right, #e0eafc, #cfdef3);

// Dégradé de fond de base
$base-gradient: linear-gradient(to right, #43d0ff97, #2f81eda4);

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: $base-gradient; // Fond de base
  transition: background-image 2s ease-in-out; // Transition sur background-image

  &.clear-sky {
    background-image: $clear-sky-gradient;
  }
  &.partly-cloudy {
    background-image: $partly-cloudy-gradient;
  }
  &.cloudy {
    background-image: $cloudy-gradient;
  }
  &.foggy {
    background-image: $foggy-gradient;
  }
  &.drizzle {
    background-image: $drizzle-gradient;
  }
  &.rainy {
    background-image: $rainy-gradient;
  }
  &.stormy {
    background-image: $stormy-gradient;
  }
  &.snowy {
    background-image: $snowy-gradient;
  }
}

.weather-container {
  padding: 20px;
  text-align: center;

  h1 {
    margin-bottom: 20px;
  }

  input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: left;
    max-width: 600px; // Augmentez la largeur maximale pour un meilleur affichage
    margin: 0 auto;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 1em;
      margin-bottom: 10px;
      min-width: 160px; // Largeur fixe mais adaptable pour le contenu
      min-height: 120px; // Hauteur fixe mais adaptable pour le contenu
      box-sizing: border-box;
      cursor: pointer;
      overflow: hidden; // Assurez-vous que le texte ne dépasse pas les limites
      text-align: center; // Centre le texte à l'intérieur

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      p {
        margin: 5px 0;
        overflow: hidden; // Assurez-vous que le texte ne dépasse pas les limites
        text-overflow: ellipsis; // Ajoute des points de suspension si le texte dépasse
        white-space: nowrap; // Empêche le texte de se casser sur plusieurs lignes
      }
    }
  }

  .weather-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    justify-content: center;
    min-width: 160px; // Largeur fixe pour les cases
    min-height: 120px; // Hauteur fixe pour les cases
    text-align: center;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 1em;
    box-sizing: border-box;
    overflow: hidden; // Assurez-vous que le texte ne dépasse pas les limites
  }

  .weather-info {
    margin-top: 20px;

    p {
      margin: 5px 0;
      font-size: 18px;
    }
  }

  .error-message {
    color: red;
  }

  .actual-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    justify-content: center;
    min-width: 160px; // Largeur fixe pour les cases
    min-height: 120px; // Hauteur fixe pour les cases
    text-align: center;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 1em;
    box-sizing: border-box;
    overflow: hidden; // Assurez-vous que le texte ne dépasse pas les limites
  }

  .hourly-forecast {
    margin-top: 20px;

    h3 {
      margin-bottom: 10px;
    }

    .hourly-forecast-scroll {
      overflow-x: auto;
      white-space: nowrap;

      ul {
        display: flex;
        gap: 1em;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.05);
          justify-content: center;
          min-width: 160px; // Largeur fixe pour les cases
          min-height: 120px; // Hauteur fixe pour les cases
          text-align: center;
          padding: 15px;
          border: 1px solid transparent;
          border-radius: 1em;
          box-sizing: border-box;
          overflow: hidden; // Assurez-vous que le texte ne dépasse pas les limites

          &:last-child {
            margin-right: 0;
          }

          p {
            margin: 5px 0;
            overflow: hidden; // Assurez-vous que le texte ne dépasse pas les limites
            text-overflow: ellipsis; // Ajoute des points de suspension si le texte dépasse
            white-space: nowrap; // Empêche le texte de se casser sur plusieurs lignes
          }
        }
      }
    }
  }
}
