// Dégradés de fond pour les différentes conditions météorologiques
$clear-sky-gradient: linear-gradient(to right, #56ccf2, #2f80ed);
$partly-cloudy-gradient: linear-gradient(to right, #8894b3, #b8caeb);
$cloudy-gradient: linear-gradient(to right, #bdc3c7, #2c3e50);
$foggy-gradient: linear-gradient(to right, #868f96, #596164);
$drizzle-gradient: linear-gradient(to right, #bdc3c7, #2c3e50);
$rainy-gradient: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
$stormy-gradient: linear-gradient(to right, #3a3a3a, #2c3e50);
$snowy-gradient: linear-gradient(to right, #e0eafc, #cfdef3);

// Dégradé de fond de base
$base-gradient: linear-gradient(to right, #43d0ff97, #2f81eda4);

// Mixin pour les éléments réutilisables
@mixin box-style {
  min-width: 160px;
  min-height: 120px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 1em;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
}

@mixin text-overflow {
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: $base-gradient;
  transition: background-image 2s ease-in-out;

  &.clear-sky {
    background-image: $clear-sky-gradient;
  }
  &.partly-cloudy {
    background-image: $partly-cloudy-gradient;
  }
  &.cloudy {
    background-image: $cloudy-gradient;
  }
  &.foggy {
    background-image: $foggy-gradient;
  }
  &.drizzle {
    background-image: $drizzle-gradient;
  }
  &.rainy {
    background-image: $rainy-gradient;
  }
  &.stormy {
    background-image: $stormy-gradient;
  }
  &.snowy {
    background-image: $snowy-gradient;
  }
}

.weather-container {
  padding: 1em 10em;
  text-align: center;

  @media (max-width: 768px) {
    padding: 20px;
  }

  h1 {
    margin-bottom: 20px;
  }

  .weather-form {
    // position: relative;
    @include box-style;

    .input-container {
      position: relative;
      display: flex;
      align-items: center;
      z-index: 11;

      input {
        padding: 10px;
        padding-right: 2.5em; // Ajuste la largeur pour inclure l'espace de la loader
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 1em;
      }

      .loading {
        position: absolute;
        right: 10px;
        width: 20px;
        height: 20px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-top-color: #000000;
        border-radius: 50%;
        animation: spin 1s linear infinite;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      // top: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 30em;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(10px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: none;

      &.visible {
        display: block;
        margin-top: -10px;
        padding-top: 11px;
      }

      li {
        padding: 10px;
        cursor: pointer;
        color: white;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        p {
          margin: 0;
        }
      }
    }
  }

  .weather-info {
    margin-top: 20px;

    p {
      font-size: 18px;
      margin: 5px 0;
    }
  }

  .error-message {
    color: red;
  }

  .actual-forecast {
    @include box-style;
  }

  .hourly-forecast {
    margin-top: 20px;

    h3 {
      margin-bottom: 10px;
    }

    .hourly-forecast-scroll {
      overflow-x: auto;
      white-space: nowrap;

      ul {
        display: flex;
        gap: 1em;
        padding: 0;
        margin: 0 0 1em 0;

        li {
          padding: 10px;
          min-width: 100px;
          @include box-style;
          &:last-child {
            margin-right: 0;
          }
          p {
            @include text-overflow;
          }
        }
      }
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
