@import "../../assets/styles/global.scss";

.hourly-forecast {
  margin-top: 20px;

  .hourly-forecast-scroll {
    overflow-x: auto;
    white-space: nowrap;

    ul {
      display: flex;
      gap: 1em;
      margin: 0 0 1em 0;
      padding: 0;

      li {
        @include box-style;
        min-width: 15em;
        padding: 10px;
        text-align: left;

        &:last-child {
          margin-right: 0;
        }

        p {
          @include text-overflow;
        }
      }
    }
  }
}
