@import "./mixin";
@import "./variables";

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: $base-gradient;
  transition: background-image 2s ease-in-out;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  &.clear-sky {
    background-image: $clear-sky-gradient;
  }
  &.partly-cloudy {
    background-image: $partly-cloudy-gradient;
  }
  &.cloudy {
    background-image: $cloudy-gradient;
  }
  &.foggy {
    background-image: $foggy-gradient;
  }
  &.drizzle {
    background-image: $drizzle-gradient;
  }
  &.rainy {
    background-image: $rainy-gradient;
  }
  &.stormy {
    background-image: $stormy-gradient;
  }
  &.snowy {
    background-image: $snowy-gradient;
  }
}

::-webkit-scrollbar {
  height: 0.5em;
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: $white;
  border-radius: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.2em;
}
